# EX14 : 추천 시스템

## 노드 실습

In [1]:
import pandas as pd
import os

fname = os.getenv('HOME') + '/aiffel/E14/recommendata_iu/data/lastfm-dataset-360K/usersha1-artmbid-artname-plays.tsv'
col_names = ['user_id', 'artist_MBID', 'artist', 'play']   
data = pd.read_csv(fname, sep='\t', names= col_names)      
data.head(10)

,user_id,artist_MBID,artist,play
0,00000c289a1829a808ac09c00daf10bc3c4e223b,3bd73256-3905-4f3a-97e2-8b341527f805,betty blowtorch,2137
1,00000c289a1829a808ac09c00daf10bc3c4e223b,f2fb0ff0-5679-42ec-a55c-15109ce6e320,die Ärzte,1099
2,00000c289a1829a808ac09c00daf10bc3c4e223b,b3ae82c2-e60b-4551-a76d-6620f1b456aa,melissa etheridge,897
3,00000c289a1829a808ac09c00daf10bc3c4e223b,3d6bbeb7-f90e-4d10-b440-e153c0d10b53,elvenking,717
4,00000c289a1829a808ac09c00daf10bc3c4e223b,bbd2ffd7-17f4-4506-8572-c1ea58c3f9a8,juliette & the licks,706
5,00000c289a1829a808ac09c00daf10bc3c4e223b,8bfac288-ccc5-448d-9573-c33ea2aa5c30,red hot chili peppers,691
6,00000c289a1829a808ac09c00daf10bc3c4e223b,6531c8b1-76ea-4141-b270-eb1ac5b41375,magica,545
7,00000c289a1829a808ac09c00daf10bc3c4e223b,21f3573f-10cf-44b3-aeaa-26cccd8448b5,the black dahlia murder,507
8,00000c289a1829a808ac09c00daf10bc3c4e223b,c5db90c4-580d-4f33-b364-fbaa5a3a58b5,the murmurs,424
9,00000c289a1829a808ac09c00daf10bc3c4e223b,0639533a-0402-40ba-b6e0-18b067198b73,lunachicks,403

In [2]:
using_cols = ['user_id', 'artist', 'play']
data = data[using_cols]
data.head(10)

                                    user_id                   artist  play
0  00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1  00000c289a1829a808ac09c00daf10bc3c4e223b                die Ärzte  1099
2  00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3  00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4  00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5  00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6  00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7  00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8  00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9  00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403

In [3]:
data['artist'] = data['artist'].str.lower() 
data.head(10)

                                    user_id                   artist  play
0  00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1  00000c289a1829a808ac09c00daf10bc3c4e223b                die ärzte  1099
2  00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3  00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4  00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5  00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6  00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7  00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8  00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9  00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403

In [4]:
condition = (data['user_id']== data.loc[0, 'user_id'])
data.loc[condition]

                                     user_id                   artist  play
0   00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1   00000c289a1829a808ac09c00daf10bc3c4e223b                die ärzte  1099
2   00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3   00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4   00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5   00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6   00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7   00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8   00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9   00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403
10  00000c289a1829a808ac09c00daf10bc3c4e223b         walls of jericho   393
11  00000c289a1829a808ac09c00daf10bc3c4e223b           letzte instanz   387
12  00000c289a1829a808ac09c00daf10bc3c4e223b                goldfrapp   361
13  00000c289a1829a808ac09c00daf10bc3c4e223b               horrorpops   358
14  00000c289a1829a808ac09c00daf10bc3c4e223b             the butchies   329
15  00000c289a1829a808ac09c00daf10bc3c4e223b            jack off jill   316
16  00000c289a1829a808ac09c00daf10bc3c4e223b         babes in toyland   310
17  00000c289a1829a808ac09c00daf10bc3c4e223b         dropkick murphys   302
18  00000c289a1829a808ac09c00daf10bc3c4e223b            all:my:faults   288
19  00000c289a1829a808ac09c00daf10bc3c4e223b                 le tigre   281
20  00000c289a1829a808ac09c00daf10bc3c4e223b               schandmaul   244
21  00000c289a1829a808ac09c00daf10bc3c4e223b                    edguy   232
22  00000c289a1829a808ac09c00daf10bc3c4e223b      maximum the hormone   231
23  00000c289a1829a808ac09c00daf10bc3c4e223b                 all ends   229
24  00000c289a1829a808ac09c00daf10bc3c4e223b             jack johnson   227
25  00000c289a1829a808ac09c00daf10bc3c4e223b                eluveitie   222
26  00000c289a1829a808ac09c00daf10bc3c4e223b                rasputina   220
27  00000c289a1829a808ac09c00daf10bc3c4e223b    london after midnight   210
28  00000c289a1829a808ac09c00daf10bc3c4e223b              the killers   208
29  00000c289a1829a808ac09c00daf10bc3c4e223b                  mutyumu   205
30  00000c289a1829a808ac09c00daf10bc3c4e223b             judas priest   198
31  00000c289a1829a808ac09c00daf10bc3c4e223b               rob zombie   198
32  00000c289a1829a808ac09c00daf10bc3c4e223b             the bosshoss   189
33  00000c289a1829a808ac09c00daf10bc3c4e223b         blue öyster cult   185
34  00000c289a1829a808ac09c00daf10bc3c4e223b             sandra nasic   183
35  00000c289a1829a808ac09c00daf10bc3c4e223b               john mayer   182
36  00000c289a1829a808ac09c00daf10bc3c4e223b           sleater-kinney   175
37  00000c289a1829a808ac09c00daf10bc3c4e223b                  the who   168
38  00000c289a1829a808ac09c00daf10bc3c4e223b                 disciple   154
39  00000c289a1829a808ac09c00daf10bc3c4e223b                  tanzwut   153
40  00000c289a1829a808ac09c00daf10bc3c4e223b               guano apes   151
41  00000c289a1829a808ac09c00daf10bc3c4e223b       the rolling stones   150
42  00000c289a1829a808ac09c00daf10bc3c4e223b          little big town   145
43  00000c289a1829a808ac09c00daf10bc3c4e223b              team dresch   137
44  00000c289a1829a808ac09c00daf10bc3c4e223b                    betty   135
45  00000c289a1829a808ac09c00daf10bc3c4e223b                       l7   135
46  00000c289a1829a808ac09c00daf10bc3c4e223b                bif naked   134
47  00000c289a1829a808ac09c00daf10bc3c4e223b               girlschool   134
48  00000c289a1829a808ac09c00daf10bc3c4e223b          the wallflowers   131

In [5]:
data['user_id'].nunique()

358868

In [6]:
data['artist'].nunique()

291346

In [7]:
artist_count = data.groupby('artist')['user_id'].count()
artist_count.sort_values(ascending=False).head(30)

artist
radiohead                77254
the beatles              76245
coldplay                 66658
red hot chili peppers    48924
muse                     46954
metallica                45233
pink floyd               44443
the killers              41229
linkin park              39773
nirvana                  39479
system of a down         37267
queen                    34174
u2                       33206
daft punk                33001
the cure                 32624
led zeppelin             32295
placebo                  32072
depeche mode             31916
david bowie              31862
bob dylan                31799
death cab for cutie      31482
arctic monkeys           30348
foo fighters             30144
air                      29795
the rolling stones       29754
nine inch nails          28946
sigur rós                28901
green day                28732
massive attack           28691
moby                     28232
Name: user_id, dtype: int64

In [8]:
user_count = data.groupby('user_id')['artist'].count()
user_count.describe()

count    358868.000000
mean         48.863234
std           8.524272
min           1.000000
25%          46.000000
50%          49.000000
75%          51.000000
max         166.000000
Name: artist, dtype: float64

In [9]:
# 유저별 play횟수 중앙값에 대한 통계
user_median = data.groupby('user_id')['play'].median()
user_median.describe()

count    358868.000000
mean        142.187676
std         213.089902
min           1.000000
25%          32.000000
50%          83.000000
75%         180.000000
max       50142.000000
Name: play, dtype: float64

In [10]:
my_favorite = ['black eyed peas' , 'maroon5' ,'jason mraz' ,'coldplay' ,'beyoncé']

my_playlist = pd.DataFrame({'user_id': ['zimin']*5, 'artist': my_favorite, 'play':[30]*5})

if not data.isin({'user_id':['zimin']})['user_id'].any():
    data = data.append(my_playlist)

data.tail(10)

               user_id           artist  play
17535650  sep 20, 2008       turbostaat    12
17535651  sep 20, 2008    cuba missouri    11
17535652  sep 20, 2008  little man tate    11
17535653  sep 20, 2008        sigur rós    10
17535654  sep 20, 2008       the smiths    10
0                zimin  black eyed peas    30
1                zimin          maroon5    30
2                zimin       jason mraz    30
3                zimin         coldplay    30
4                zimin          beyoncé    30

In [11]:
user_unique = data['user_id'].unique()
artist_unique = data['artist'].unique()

user_to_idx = {v:k for k,v in enumerate(user_unique)}
artist_to_idx = {v:k for k,v in enumerate(artist_unique)}

In [12]:
print(user_to_idx['zimin'])
print(artist_to_idx['black eyed peas'])

358868
376

In [13]:
# indexing을 통해 데이터 컬럼 내 값을 바꾸는 코드
# dictionary 자료형의 get 함수는 https://wikidocs.net/16 을 참고하세요.

# user_to_idx.get을 통해 user_id 컬럼의 모든 값을 인덱싱한 Series를 구해 봅시다. 
# 혹시 정상적으로 인덱싱되지 않은 row가 있다면 인덱스가 NaN이 될 테니 dropna()로 제거합니다. 
temp_user_data = data['user_id'].map(user_to_idx.get).dropna()
if len(temp_user_data) == len(data):   # 모든 row가 정상적으로 인덱싱되었다면
    print('user_id column indexing OK!!')
    data['user_id'] = temp_user_data   # data['user_id']을 인덱싱된 Series로 교체해 줍니다. 
else:
    print('user_id column indexing Fail!!')

# artist_to_idx을 통해 artist 컬럼도 동일한 방식으로 인덱싱해 줍니다. 
temp_artist_data = data['artist'].map(artist_to_idx.get).dropna()
if len(temp_artist_data) == len(data):
    print('artist column indexing OK!!')
    data['artist'] = temp_artist_data
else:
    print('artist column indexing Fail!!')

data

user_id column indexing OK!!
artist column indexing OK!!

    user_id  artist  play
0         0       0  2137
1         0       1  1099
2         0       2   897
3         0       3   717
4         0       4   706
..      ...     ...   ...
0    358868     376    30
1    358868  270115    30
2    358868    3746    30
3    358868      62    30
4    358868     396    30

[17535660 rows x 3 columns]

In [14]:
# 1회만 play한 데이터의 비율을 보는 코드
only_one = data[data['play']<2]
one, all_data = len(only_one), len(data)
print(f'{one},{all_data}')
print(f'Ratio of only_one over all data is {one/all_data:.2%}')  # f-format에 대한 설명은 https://bit.ly/2DTLqYU

147740,17535660
Ratio of only_one over all data is 0.84%

In [15]:
# 실습 위에 설명보고 이해해서 만들어보기
from scipy.sparse import csr_matrix

num_user = data['user_id'].nunique()
num_artist = data['artist'].nunique()

csr_data = csr_matrix((data.play, (data.user_id, data.artist)), shape= (num_user, num_artist))
csr_data

<358869x291347 sparse matrix of type '<class 'numpy.int64'>'
	with 17535578 stored elements in Compressed Sparse Row format>

In [16]:
from implicit.als import AlternatingLeastSquares
import os
import numpy as np

# implicit 라이브러리에서 권장하고 있는 부분입니다. 학습 내용과는 무관합니다.
os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

In [17]:
# Implicit AlternatingLeastSquares 모델의 선언
als_model = AlternatingLeastSquares(factors=100, regularization=0.01, use_gpu=False, iterations=15, dtype=np.float32)

In [18]:
# als 모델은 input으로 (item X user 꼴의 matrix를 받기 때문에 Transpose해줍니다.)
csr_data_transpose = csr_data.T
csr_data_transpose

<291347x358869 sparse matrix of type '<class 'numpy.int64'>'
	with 17535578 stored elements in Compressed Sparse Column format>

In [19]:
# 모델 훈련
als_model.fit(csr_data_transpose)

  0%|          | 0/15 [00:00<?, ?it/s]

In [20]:
zimin, black_eyed_peas = user_to_idx['zimin'], artist_to_idx['black eyed peas']
zimin_vector, black_eyed_peas_vector = als_model.user_factors[zimin], als_model.item_factors[black_eyed_peas]

print('슝=3')

슝=3

In [21]:
zimin_vector

black_eyed_peas_vector

# zimin과 black_eyed_peas를 내적하는 코드
np.dot(zimin_vector, black_eyed_peas_vector)

0.49874687

In [22]:
queen = artist_to_idx['queen']
queen_vector = als_model.item_factors[queen]
np.dot(zimin_vector, queen_vector)

0.31190628

In [23]:
favorite_artist = 'coldplay'
artist_id = artist_to_idx[favorite_artist]
similar_artist = als_model.similar_items(artist_id, N=15)
similar_artist

[(62, 1.0000001),
 (277, 0.9865612),
 (28, 0.9830312),
 (5, 0.9795854),
 (217, 0.97137684),
 (473, 0.9688026),
 (490, 0.9684243),
 (247, 0.96447176),
 (694, 0.9614216),
 (418, 0.9588412),
 (910, 0.9491364),
 (1018, 0.94663733),
 (531, 0.94250566),
 (782, 0.94074553),
 (268, 0.9355438)]

In [24]:
#artist_to_idx 를 뒤집어, index로부터 artist 이름을 얻는 dict를 생성합니다. 
idx_to_artist = {v:k for k,v in artist_to_idx.items()}
[idx_to_artist[i[0]] for i in similar_artist]

['coldplay',
 'muse',
 'the killers',
 'red hot chili peppers',
 'radiohead',
 'placebo',
 'oasis',
 'the beatles',
 'foo fighters',
 'u2',
 'nirvana',
 'the smashing pumpkins',
 'depeche mode',
 'the white stripes',
 'pink floyd']

In [25]:
def get_similar_artist(artist_name: str):
    artist_id = artist_to_idx[artist_name]
    similar_artist = als_model.similar_items(artist_id)
    similar_artist = [idx_to_artist[i[0]] for i in similar_artist]
    return similar_artist

print("슝=3")

슝=3

In [26]:
def get_similar_artist(artist_name: str):
    artist_id = artist_to_idx[artist_name]
    similar_artist = als_model.similar_items(artist_id)
    similar_artist = [idx_to_artist[i[0]] for i in similar_artist]
    return similar_artist

print("슝=3")

슝=3

In [27]:
get_similar_artist('2pac')

['2pac',
 'notorious b.i.g.',
 'dr. dre',
 'nas',
 'jay-z',
 'the game',
 'snoop dogg',
 'ice cube',
 '50 cent',
 'bone thugs-n-harmony']

In [28]:
get_similar_artist('lady gaga')

['lady gaga',
 'britney spears',
 'rihanna',
 'katy perry',
 'the pussycat dolls',
 'beyoncé',
 'christina aguilera',
 'kelly clarkson',
 'justin timberlake',
 'leona lewis']

In [29]:
user = user_to_idx['zimin']
# recommend에서는 user*item CSR Matrix를 받습니다.
artist_recommended = als_model.recommend(user, csr_data, N=20, filter_already_liked_items=True)
artist_recommended

[(350, 0.4510064),
 (369, 0.44310293),
 (550, 0.42787015),
 (1800, 0.42674625),
 (2249, 0.4158021),
 (354, 0.41329247),
 (621, 0.40113258),
 (564, 0.3985877),
 (627, 0.39741164),
 (274, 0.39433756),
 (409, 0.39413935),
 (24, 0.39266938),
 (355, 0.39036244),
 (5555, 0.3883341),
 (391, 0.38467574),
 (382, 0.3680001),
 (944, 0.36133158),
 (618, 0.36122572),
 (901, 0.3591172),
 (358, 0.350477)]

In [30]:
[idx_to_artist[i[0]] for i in artist_recommended]

['rihanna',
 'justin timberlake',
 'britney spears',
 'lady gaga',
 'katy perry',
 'nelly furtado',
 'alicia keys',
 'kanye west',
 'maroon 5',
 'michael jackson',
 'amy winehouse',
 'jack johnson',
 'madonna',
 'timbaland',
 'christina aguilera',
 'mika',
 'avril lavigne',
 'the pussycat dolls',
 'pink',
 'kelly clarkson']

In [31]:
rihanna = artist_to_idx['rihanna']
explain = als_model.explain(user, csr_data, itemid=rihanna)

In [32]:
[(idx_to_artist[i[0]], i[1]) for i in explain[1]]

[('beyoncé', 0.229743741566846),
 ('black eyed peas', 0.13169466752924583),
 ('coldplay', 0.04764891687170351),
 ('jason mraz', 0.04421121500308865),
 ('maroon5', -4.757131685397812e-05)]

## 영화 추천 시스템

### 기본 전처리

In [74]:
import pandas as pd
import os
rating_file_path=os.getenv('HOME') + '/aiffel/E14/recommendata_iu/data/ml-1m/ratings.dat'
ratings_cols = ['user_id', 'movie_id', 'ratings', 'timestamp']
ratings = pd.read_csv(rating_file_path, sep='::', names=ratings_cols, engine='python', encoding = "ISO-8859-1")
orginal_data_size = len(ratings)
ratings.head()

   user_id  movie_id  ratings  timestamp
0        1      1193        5  978300760
1        1       661        3  978302109
2        1       914        3  978301968
3        1      3408        4  978300275
4        1      2355        5  978824291

In [75]:
# 3점 이상만 남깁니다.
ratings = ratings[ratings['ratings']>=3]
filtered_data_size = len(ratings)

print(f'orginal_data_size: {orginal_data_size}, filtered_data_size: {filtered_data_size}')
print(f'Ratio of Remaining Data is {filtered_data_size / orginal_data_size:.2%}')

orginal_data_size: 1000209, filtered_data_size: 836478
Ratio of Remaining Data is 83.63%

In [76]:
# ratings 컬럼의 이름을 counts로 바꿉니다.
ratings.rename(columns={'ratings':'counts'}, inplace=True)

In [77]:
ratings['counts']

0          5
1          3
2          3
3          4
4          5
          ..
1000203    3
1000205    5
1000206    5
1000207    4
1000208    4
Name: counts, Length: 836478, dtype: int64

In [78]:
# 영화 제목을 보기 위해 메타 데이터를 읽어옵니다.
movie_file_path=os.getenv('HOME') + '/aiffel/E14/recommendata_iu/data/ml-1m/movies.dat'
cols = ['movie_id', 'title', 'genre'] 
movies = pd.read_csv(movie_file_path, sep='::', names=cols, engine='python', encoding='ISO-8859-1')
movies['title'] = movies['title'].str.lower()
movies['genre'] = movies['genre'].str.lower()
movies.head()

   movie_id                               title                         genre
0         1                    toy story (1995)   animation|children's|comedy
1         2                      jumanji (1995)  adventure|children's|fantasy
2         3             grumpier old men (1995)                comedy|romance
3         4            waiting to exhale (1995)                  comedy|drama
4         5  father of the bride part ii (1995)                        comedy

In [79]:
movies.tail()

      movie_id                       title           genre
3878      3948     meet the parents (2000)          comedy
3879      3949  requiem for a dream (2000)           drama
3880      3950            tigerland (2000)           drama
3881      3951     two family house (2000)           drama
3882      3952       contender, the (2000)  drama|thriller

In [80]:
ratings = pd.merge(ratings, movies)
ratings

,user_id,movie_id,counts,timestamp,title,genre
0,1,1193,5,978300760,one flew over the cuckoo's nest (1975),drama
1,2,1193,5,978298413,one flew over the cuckoo's nest (1975),drama
2,12,1193,4,978220179,one flew over the cuckoo's nest (1975),drama
3,15,1193,4,978199279,one flew over the cuckoo's nest (1975),drama
4,17,1193,5,978158471,one flew over the cuckoo's nest (1975),drama
...,...,...,...,...,...,...
836473,5851,3607,5,957756608,one little indian (1973),comedy|drama|western
836474,5854,3026,4,958346883,slaughterhouse (1987),horror
836475,5854,690,3,957744257,"promise, the (versprechen, das) (1994)",romance
836476,5938,2909,4,957273353,"five wives, three secretaries and me (1998)",documentary
836477,5948,1360,5,1016563709,identification of a woman (identificazione di ...,drama

### 살펴보기 & 전처리 완료

In [81]:
using_cols = ['user_id', 'movie_id', 'counts', 'title']
ratings = ratings[using_cols]
ratings.head(5)

   user_id  movie_id  counts                                   title
0        1      1193       5  one flew over the cuckoo's nest (1975)
1        2      1193       5  one flew over the cuckoo's nest (1975)
2       12      1193       4  one flew over the cuckoo's nest (1975)
3       15      1193       4  one flew over the cuckoo's nest (1975)
4       17      1193       5  one flew over the cuckoo's nest (1975)

In [82]:
ratings['user_id'].nunique()

6039

In [83]:
ratings['movie_id'].nunique()

3628

In [84]:
movie_count = ratings.groupby('title')['user_id'].count()
movie_count.sort_values(ascending=False).head(10)

title
american beauty (1999)                                   3211
star wars: episode iv - a new hope (1977)                2910
star wars: episode v - the empire strikes back (1980)    2885
star wars: episode vi - return of the jedi (1983)        2716
saving private ryan (1998)                               2561
terminator 2: judgment day (1991)                        2509
silence of the lambs, the (1991)                         2498
raiders of the lost ark (1981)                           2473
back to the future (1985)                                2460
matrix, the (1999)                                       2434
Name: user_id, dtype: int64

In [85]:
user_count = ratings.groupby('user_id')['movie_id'].count()
user_count.describe()

count    6039.000000
mean      138.512668
std       156.241599
min         1.000000
25%        38.000000
50%        81.000000
75%       177.000000
max      1968.000000
Name: movie_id, dtype: float64

In [86]:
user_median = ratings.groupby('user_id')['counts'].median()
user_median.describe()

count    6039.000000
mean        4.055970
std         0.432143
min         3.000000
25%         4.000000
50%         4.000000
75%         4.000000
max         5.000000
Name: counts, dtype: float64

### 영화 5가지를 추가하고 ratings에 추가

In [87]:
import random as rd

my_favorite_id = []
for i in range (5):
    num = rd.randint(1,3953)
    my_favorite_id.append(num)

my_favorite_id
# 아무 영화나 넣기

[153, 3714, 3636, 3028, 3034]

In [88]:
my_favorite_title = []
for i in my_favorite_id:
    my_favorite_title.extend(list(movies[movies['movie_id'] == i]['title']))

my_movielist = pd.DataFrame({'user_id': ['hyochan']*5, 'movie_id': my_favorite_id, 'counts':[4]*5, 'title': my_favorite_title})

my_movielist

,user_id,movie_id,counts,title
0,hyochan,153,4,batman forever (1995)
1,hyochan,3714,4,clara's heart (1988)
2,hyochan,3636,4,those who love me can take the train (ceux qui...
3,hyochan,3028,4,"taming of the shrew, the (1967)"
4,hyochan,3034,4,robin hood (1973)

In [89]:
if not ratings.isin({'user_id':['hyochan']})['user_id'].any():
    ratings = ratings.append(my_movielist)
    
ratings.tail(10)

,user_id,movie_id,counts,title
836473,5851,3607,5,one little indian (1973)
836474,5854,3026,4,slaughterhouse (1987)
836475,5854,690,3,"promise, the (versprechen, das) (1994)"
836476,5938,2909,4,"five wives, three secretaries and me (1998)"
836477,5948,1360,5,identification of a woman (identificazione di ...
0,hyochan,153,4,batman forever (1995)
1,hyochan,3714,4,clara's heart (1988)
2,hyochan,3636,4,those who love me can take the train (ceux qui...
3,hyochan,3028,4,"taming of the shrew, the (1967)"
4,hyochan,3034,4,robin hood (1973)

### CSR matrix 생성

In [90]:
user_unique = ratings['user_id'].unique()
movie_unique = ratings['title'].unique()

user_to_idx = {v:k for k,v in enumerate(user_unique)}
movie_to_idx = {v:k for k,v in enumerate(movie_unique)}

In [91]:
temp_user_data = ratings['user_id'].map(user_to_idx.get).dropna()
if len(temp_user_data) == len(ratings):
    print('user_id column indexing OK!!')
    ratings['user_id'] = temp_user_data
else:
    print('user_id column indexing Fail!!')

temp_movie_data = ratings['title'].map(movie_to_idx.get).dropna()
if len(temp_movie_data) == len(ratings):
    print('title column indexing OK!!')
    ratings['title'] = temp_movie_data
else:
    print('title column indexing Fail!!')

ratings

user_id column indexing OK!!
title column indexing OK!!

    user_id  movie_id  counts  title
0         0      1193       5      0
1         1      1193       5      0
2         2      1193       4      0
3         3      1193       4      0
4         4      1193       5      0
..      ...       ...     ...    ...
0      6039       153       4    515
1      6039      3714       4   2766
2      6039      3636       4   3305
3      6039      3028       4   1327
4      6039      3034       4    559

[836483 rows x 4 columns]

In [92]:
from scipy.sparse import csr_matrix

num_user = ratings['user_id'].nunique()
num_movie = ratings['title'].nunique()

csr_data = csr_matrix((ratings['counts'], (ratings.user_id, ratings.title)), shape= (num_user, num_movie))
csr_data

<6040x3628 sparse matrix of type '<class 'numpy.int64'>'
	with 836483 stored elements in Compressed Sparse Row format>

### model build, train

In [93]:
from implicit.als import AlternatingLeastSquares
import os
import numpy as np

# implicit 라이브러리에서 권장하고 있는 부분입니다. 학습 내용과는 무관합니다.
os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

In [94]:
# Implicit AlternatingLeastSquares 모델의 선언
als_model = AlternatingLeastSquares(factors=100, regularization=0.01, use_gpu=False, iterations=15, dtype=np.float32)

In [95]:
# als 모델은 input으로 (item X user 꼴의 matrix를 받기 때문에 Transpose해줍니다.)
csr_data_transpose = csr_data.T
csr_data_transpose

<3628x6040 sparse matrix of type '<class 'numpy.int64'>'
	with 836483 stored elements in Compressed Sparse Column format>

In [96]:
# 모델 훈련
als_model.fit(csr_data_transpose)

  0%|          | 0/15 [00:00<?, ?it/s]

### 예측 분석해보기

In [97]:
hyochan, backdraft = user_to_idx['hyochan'], movie_to_idx['backdraft (1991)']
hyochan_vector, backdraft_vector = als_model.user_factors[hyochan], als_model.item_factors[backdraft]

In [98]:
hyochan_vector

array([ 0.44455245, -0.4462561 ,  0.14683452, -0.32852104,  0.09300028,
       -0.2595401 , -0.44451594,  0.07624395,  0.0933765 ,  0.2283384 ,
        0.12168081,  0.1990962 ,  0.09479404, -0.39552942,  0.13340853,
        0.01949412,  0.44645762,  0.21323952, -0.2359918 , -0.11142672,
        0.08171538,  0.12215041,  0.03590644,  0.14456043,  0.33768898,
        0.40674007, -0.03197462,  0.1811755 ,  0.20939253,  0.20176423,
       -0.04352538, -0.4379723 ,  0.1563535 , -0.55324656,  0.16375625,
       -0.2788994 , -0.10802398,  0.03713031, -0.42057863,  0.3207181 ,
        0.14940378,  0.12861454,  0.3330517 , -0.06222037,  0.26617962,
        0.6155089 ,  0.34233138, -0.32680488,  0.2464139 ,  0.00783014,
       -0.33764786,  0.21508138,  0.38223088, -0.22414932,  0.33332524,
       -0.16745806, -0.12099753,  0.5216258 , -0.2753719 , -0.07541296,
       -0.03191624, -0.07556461, -0.15858339,  0.0496268 ,  0.20498975,
       -0.38529456,  0.03459767, -0.00141   , -0.38041162, -0.02496251,
        0.08024494, -0.089107  ,  0.06505731, -0.1942888 , -0.08458533,
        0.08719774,  0.20861839, -0.0280518 ,  0.23248199, -0.10058928,
       -0.40715057,  0.06419671,  0.04795682, -0.28279138, -0.16517702,
        0.18168099,  0.17214496,  0.06256504, -0.17656091,  0.06030278,
        0.10093355, -0.17940195,  0.02861227,  0.30911818,  0.03581901,
       -0.0936787 , -0.39713186, -0.2101217 ,  0.06507019, -0.08388567],
      dtype=float32)

In [99]:
backdraft_vector

array([ 1.0474718e-02,  7.5994772e-03,  1.4035088e-02,  5.9823841e-03,
        1.3828014e-02, -8.1975814e-03,  1.6317671e-02, -5.2994820e-03,
       -2.0979582e-03,  2.0200303e-03,  1.9088401e-02,  1.0877320e-02,
        1.0942538e-02,  1.1640802e-02,  1.7498881e-02,  1.8251514e-02,
        9.7593535e-03,  3.9470736e-03,  1.8329319e-02,  2.9649644e-03,
        2.4659090e-02, -1.2810692e-02,  8.3785309e-03,  1.8653460e-02,
        1.6714344e-02, -8.8777011e-03,  1.6991617e-02,  2.8333773e-03,
        1.6784281e-02,  6.8240510e-03, -1.6429212e-02,  1.3456143e-02,
        1.0752367e-02,  8.2437648e-03,  7.0521226e-03,  1.6465904e-02,
        1.2551224e-02,  1.4698517e-02, -3.8605758e-03,  2.1426393e-02,
       -1.5192782e-02,  6.1398372e-03,  1.2135615e-03,  2.1461753e-02,
        2.3757244e-02,  6.7232200e-03, -1.1000261e-02, -1.2149712e-02,
        2.4045857e-02, -1.6425041e-02,  1.6931936e-02, -2.2033326e-02,
       -1.2140154e-02,  3.8168725e-04,  5.3468933e-03,  4.1042054e-03,
       -4.2097169e-04, -4.6935314e-03,  1.1815506e-02,  1.5168406e-02,
       -2.3414321e-02,  7.9652527e-03, -2.7918214e-02,  1.7848460e-02,
        1.4913677e-02,  1.8525485e-02,  6.0843304e-03,  8.8726310e-03,
        1.5632032e-03, -1.2068197e-02,  2.5310356e-02, -1.4153390e-02,
        1.0370851e-02,  2.1661331e-03, -1.2055493e-02,  5.6654237e-05,
        1.3327453e-02,  4.3259171e-04,  4.5816184e-04, -1.2361482e-02,
        1.0620084e-02,  5.3987247e-03,  2.3632320e-03, -7.4551976e-03,
        5.9097856e-03,  6.8686693e-03, -1.0321419e-02,  1.3143530e-03,
       -1.0609497e-02,  2.4752131e-02,  1.6018331e-02, -1.4899346e-02,
        1.0650918e-03,  1.6293272e-02,  1.6714610e-02,  1.0745026e-02,
        2.7931400e-02,  3.0104937e-03, -8.4705073e-03,  2.6286580e-02],
      dtype=float32)

In [100]:
np.dot(hyochan_vector, backdraft_vector)

0.005865389

In [101]:
deadly_friend = movie_to_idx['deadly friend (1986)']
deadly_friend_vector = als_model.item_factors[deadly_friend]
np.dot(hyochan_vector, deadly_friend_vector)

0.0023902606

### 추가한 영화와 비슷한 영화 추천 받아보기

In [107]:
favorite_movie = 'backdraft (1991)'
movie_id = movie_to_idx[favorite_movie]
similar_movie = als_model.similar_items(movie_id, N=15)
similar_movie

[(376, 1.0),
 (816, 0.63695574),
 (1047, 0.59894496),
 (379, 0.59606063),
 (76, 0.594153),
 (111, 0.5918176),
 (137, 0.5876763),
 (1275, 0.5814797),
 (1086, 0.5538098),
 (114, 0.5412088),
 (1315, 0.535541),
 (1493, 0.5157046),
 (382, 0.5144869),
 (147, 0.5047827),
 (140, 0.5026742)]

In [108]:
idx_to_movie = {v:k for k,v in movie_to_idx.items()}
[idx_to_movie[i[0]] for i in similar_movie]

['backdraft (1991)',
 'air force one (1997)',
 'falling down (1993)',
 'patriot games (1992)',
 'outbreak (1995)',
 'die hard 2 (1990)',
 'die hard: with a vengeance (1995)',
 'single white female (1992)',
 'broken arrow (1996)',
 'enemy of the state (1998)',
 'executive decision (1996)',
 'perfect world, a (1993)',
 'natural born killers (1994)',
 'under siege (1992)',
 'clear and present danger (1994)']

In [109]:
def get_similar_movie(movie_name: str):
    movie_id = movie_to_idx[movie_name]
    similar_movie = als_model.similar_items(movie_id)
    similar_movie = [idx_to_movie[i[0]] for i in similar_movie]
    return similar_movie

print("슝=3")

슝=3

In [110]:
get_similar_movie('get carter (2000)')

['get carter (2000)',
 'bait (2000)',
 'love stinks (1999)',
 'committed (2000)',
 'yards, the (1999)',
 'black dog (1998)',
 'shadow conspiracy (1997)',
 'tic code, the (1998)',
 '24 7: twenty four seven (1997)',
 'tigerland (2000)']

In [111]:
get_similar_movie('deadly friend (1986)')

['deadly friend (1986)',
 'deadtime stories (1987)',
 'carnosaur 2 (1995)',
 'slumber party massacre, the (1982)',
 'amityville 3-d (1983)',
 'king kong lives (1986)',
 'nightmares (1983)',
 'hell night (1981)',
 'graveyard shift (1990)',
 'guardian, the (1990)']

### 실제 내가 좋아할만한 영화 추천 받아보기

In [112]:
user = user_to_idx['hyochan']
# recommend에서는 user*item CSR Matrix를 받습니다.
movie_recommended = als_model.recommend(user, csr_data, N=20, filter_already_liked_items=True)
movie_recommended

[(587, 0.15856078),
 (1943, 0.12595242),
 (609, 0.1136907),
 (527, 0.10375582),
 (677, 0.10336457),
 (153, 0.10313669),
 (314, 0.10078674),
 (619, 0.10049463),
 (528, 0.10048325),
 (177, 0.09965696),
 (520, 0.09763888),
 (17, 0.09603726),
 (770, 0.09546509),
 (622, 0.091417104),
 (408, 0.0887254),
 (530, 0.08605081),
 (590, 0.08459997),
 (936, 0.08421086),
 (547, 0.08229674),
 (1722, 0.08125204)]

In [113]:
[idx_to_movie[i[0]] for i in movie_recommended]

['batman returns (1992)',
 'batman & robin (1997)',
 'sword in the stone, the (1963)',
 'batman (1989)',
 'army of darkness (1993)',
 'lethal weapon 3 (1992)',
 'much ado about nothing (1993)',
 'alice in wonderland (1951)',
 'pinocchio (1940)',
 'three musketeers, the (1993)',
 "charlotte's web (1973)",
 'bambi (1942)',
 'cliffhanger (1993)',
 'hamlet (1990)',
 'hamlet (1996)',
 'lethal weapon 4 (1998)',
 'old yeller (1957)',
 'secret of nimh, the (1982)',
 'lady and the tramp (1955)',
 'spawn (1997)']

In [115]:
pinocchio = movie_to_idx['pinocchio (1940)']
explain = als_model.explain(user, csr_data, itemid=pinocchio)

In [116]:
[(idx_to_movie[i[0]], i[1]) for i in explain[1]]

[('robin hood (1973)', 0.10266107401429585),
 ('taming of the shrew, the (1967)', 0.005702692951422066),
 ("those who love me can take the train (ceux qui m'aiment prendront le train) (1998)",
  0.0018813177264796275),
 ("clara's heart (1988)", -0.0009919657321687566),
 ('batman forever (1995)', -0.010769482289001417)]

# 회고

dataframe을 조작하는 방법을 많이 공부해야 할 것 같다. 여러가지를 시도해보았는데 해결되지 않아 결국 마침 게더에 계시던 지수님의 도움을 받아 전처리 코드를 완성했다. 많은 부분 지수님의 코드를 사용했다. 이미 인덱싱이 되어 있는 movie_id를 바로 사용하려고 했는데 스스로 코드를 해결하려고 이래저래 문제를 해결하다가 결국 dimension error에서 항복하고 말았다. python 스터디에 참여하면서 코드에 많이 익숙해지고 많이 늘었다고 생각했는데 아직 먼 것 같다. 오늘 깨달은 점은 written을 토대로 문제를 해결하려고 하기보단 공식문서의 내용을 잘 해석할 수 있어야 문제 해결에 더욱 도움이 될 것 같다는 점이다. 결국 영어 공부라는 새로운 숙제가 생겼다.

## Ref.

* pandas<br>
https://m.blog.naver.com/rising_n_falling/221622971970<br>
https://hogni.tistory.com/9<br>
https://ehpub.co.kr/pandas-csv-dataframe-column-select-python/<br>
<br>
* CSR matrix<br>
https://endowkim.tistory.com/entry/Index-exceeds-matrix-dimensions<br>
<br>
* 지수님 코드<br>
file로 주셨음